<% if !authenticated? %>
<body class="tour">
  <div class="container">
    <a class="logo_dark" href="/">Jolicloud</a>
    <section class="intro">
      <h2>Discover music the social way.</h2>
      <p>Find new artists through your friends.</p>
      <%= link_to "Connect with facebook", new_facebook_path, :class => "facebook" %>
    </section>
  </div>
  <% else %>
  <body class="app">
    <header>
      <a class="logo" href="/">Jolicloud</a>
    </header>
    <nav>
      <section>
        <h3 class="lobster">apps</h3>
        <ul>
          <li class="hot active"><a href="#"><span class="icon"></span>What's Hot</a></li>
          <li class="match"><a href="#"><span class="icon"></span>Taste Match</a></li>
          <li class="shuffle"><a href="#"><span class="icon"></span>Shuffle</a></li>
        </ul>
      </section>
      <section>
        <h3 class="lobster">playlists</h3>
        <ul>
        </ul>
      </section>
      <section>
        <h3 class="lobster">account</h3>
        <ul>
          <li class="profile"><a href="#"><span class="icon"></span>Profile</a></li>
          <li class="settings"><a href="#"><span class="icon"></span>Settings</a></li>
          <li class="logout">
            <%= link_to content_tag(:span, nil, :class=>'icon') + "Logout", facebook_path, :method => :delete, :class => "logout" %>
          </li>
        </ul>
      </section>
    </nav>

    <div id="right-pane">
      <div id="header-right-container">
        <div id="header-right"></div>
      </div>
      <section class="grid">
        
      </section>
    </div>
  <% end %>