<div id = "token-div">
<p>Add name of people in your party</p>
<input id="friend_tokens" type="text" autocomplete="off" style="outline-style: none; outline-width: initial; outline-color: initial; width: 30px; " id="token-input-demo-input-facebook-theme"></input>
</div>
<script>
$("#friend_tokens").tokenInput("/facebook/all_users.json", {
  crossDomain: false,
  //    prePopulate: $("#book_author_tokens").data("pre"),
  theme: "facebook"
});
</script>