// This is a manifest file that'll be compiled into including all the files listed below.
// Add new JavaScript/Coffee code in separate files in this directory and they'll automatically
// be included in the compiled file accessible from http://example.com/assets/application.js
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// the compiled file.
//
//= require jquery
//= require jquery_ujs
//= require_tree .

$(document).ready(function(){	
  $('.playlist.add a').click(function() {
    $('.playlist.add').before("<li class='playlist' style='display: none;' ><a href='#'><span class='icon'></span><form id='new_playlist'  style='display: inline;'><input type='text'/></form></a></li>");
    $('.playlist.add').prev().slideDown("fast").find('input').focus();
    $('#new_playlist').submit(function() {
      $.post('/playlist/create', { plname: $('#new_playlist input').val()});
      return false;
    });
    $('#new_playlist input').blur(function() {
      $(this).closest('.playlist').slideUp();
      return false;
    });
  });

  $('li .delete').click(function(event) {
    $(this).closest('.playlist').addClass('confirming').find('.confirm').click(function(event) {
      console.log('DELETE PLAYLIST AND .slideUp()');
      $(this).slideUp();
    }).mouseleave(function(event) {
      $(this).parent().removeClass('confirming');
    });
    return false;
  });

  $('button.detail').click(function() {
    $('body').addClass('loading');
    $('.view-toggle .active').removeClass('active');
    $(this).addClass('active');
    content = $('#song_view').attr("content");
    content_id = $('#song_view').attr("content_id");
    if (content == 'playlist') {
      $.get('/playlist/play', { id: content_id , type: 'detail' });
    } else if (content == 'hot'){
      $.get('/song/hot_songs', { type: 'detail' });
    } else if (content == 'recom'){
      $.get('/recommendation/recommended', { type: 'detail' });
    }
  });

  $('button.grid').click(function() {
    $('body').addClass('loading');
    $('.view-toggle .active').removeClass('active');
    $(this).addClass('active');
    content = $('#song_view').attr("content");
    content_id = $('#song_view').attr("content_id");
    if (content == 'playlist') {
      $.get('/playlist/play', { id: content_id , type: 'grid' });
    }else if (content == 'hot'){
      $.get('/song/hot_songs', { type: 'grid' });
    }else if (content == 'recom'){
      $.get('/recommendation/recommended', { type: 'grid' });
    }
  });

  $('#side_bar li').click(function() {
    $('.popover').remove();
    $('#side_bar li.active').removeClass('active');
    $(this).addClass('active');
    $('body').addClass('loading');
  });

  $('.slide-out-div').tabSlideOut({
      tabHandle: '.handle',                              //class of the element that will be your tab
      pathToTabImage: '<%= asset_path 'knob.jpg' %>',          //path to the image for the tab (optionaly can be set using css)
      imageHeight: '122px',                               //height of tab image
      imageWidth: '40px',                               //width of tab image    
      tabLocation: 'right',                               //side of screen where tab lives, top, right, bottom, or left
      speed: 300,                                        //speed of animation
      action: 'click',                                   //options: 'click' or 'hover', action to trigger animation
      topPos: '55px',                                   //position from the top
      fixedPosition: true                               //options: true makes it stick(fixed position) on scroll
  });

	var mySlideA = new Slider($('slider_minmax_gutter_m'), $('slider_minmax_minKnobA'),$('slider_bkg_img'), {
		start: 0,
		end: 5,
		offset:8,
		snap:false,
		onChange: function(pos){$('slider_minmax_min').setHTML('min '+pos.minpos);$('slider_minmax_max').setHTML('max '+pos.maxpos);}
	}, $('slider_minmax_maxKnobA')).setMin(2).setMax(3);

});

// $(document).endlessScroll({
//   bottomPixels: 400,
//   fireOnce: true,
//   fireDelay: 500,
//   ceaseFire: function(){
//     return $('#cease_fire_on_scroll').attr('value') == 'true';
//   },
//   callback: function(){
//     $(document).unbind('scroll', unlimited_scroll);
//     $.get("/song/hot_songs", { type: view_type, page: nextPage, before: beforeTime } );
//     $('body').addClass('appending');
//   }
// });