.popover {
  color: black;
  font-weight: normal;
  line-height: 1;
  cursor: auto;
  position: absolute;
  display: none;
  opacity: 0;
  background-color: white;
  border: 1px solid #434C5D;
  border-radius: 4px;
  padding: 4px;
  -webkit-transition: opacity 0.25s linear;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  transition: opacity 0.25s linear; }
  .popover.active {
    opacity: 1; z-index: 9;}
  .popover > .triangle {
    position: absolute;
    top: -16px;
    float: left;
    font-size: 0px;
    line-height: 0%;
    width: 0px;
    border-top: 6px solid rgba(0,0,0,0);
    border-left: 6px solid rgba(0,0,0,0);
    border-right: 6px solid rgba(0,0,0,0);
    border-bottom: 6px solid #434C5D; }
  .popover > .header {
	/* I ADDED THIS LINE*/
	display: none;
    font-weight: bold;
    margin: 0;
    padding: 3px;
    height: 40px;
    color: white;
    background-color: black;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), color-stop(0.2, rgba(255, 255, 255, 0.4)), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent) );
    text-align: center; }
  .popover > .content {
    min-width: 200px;
    overflow-x: hidden;
    overflow-y: auto; }
