$('#playlists').html(
	"<%= escape_javascript(
		<% @playlists.each do |pl|%>
			<li class='playlist <%='queue' if pl.perm %>'>
			<a href='#'>
			<span class='icon'></span><%= pl.name %>
			</a>
			</li>
			<% end %>
			<li class='playlist add'><a href='#;><span class='icon'></span></a></li>'
			) %>");